img.about-item {
    padding-top: 30px;
    max-width: 100%;

}


.about-content {
    display: grid;
    justify-content: center;
    max-height: 800px;
    overflow-y: auto;
    grid-template-columns: auto auto;
}

.about-item {
    border: 1px;
    padding: 10px;
}