img.about-image {
    margin: 0;
    border: solid;
    padding: 0;
    border-color: rgb(99, 99, 99);
    border-width: 1px;
}


.about-content {
    display: flex;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    border: inset;
}

.about-item {
    border: 1px;
    padding: 10px;

}

.about-info {
    background-color: white;
    margin: 10px;
    border: solid;
    border-width: 1px;
    border-color: rgb(99, 99, 99);
    max-width: 100%;
}