img.about-item {
    margin: 0;
    border: solid;
    padding: 0;
    max-width: 100%;
    border-color: rgb(99, 99, 99);
    border-width: 1px;

}


.about-content {
    display: grid;
    justify-content: center;
    max-height: 800px;
    overflow-y: auto;
    grid-template-columns: auto auto;
    border: inset;
}

.about-item {
    border: 1px;
    padding: 10px;

}

.about-info {
    background-color: white;
    margin: 10px;
    border: solid;
    border-width: 1px;
    border-color: rgb(99, 99, 99);
}