.portfolio {
    background-color: #c0c0c0;
    padding: 0;
    margin: 25px;
    width: 100%;
    border: outset;
    box-shadow: 1px 1px;
}

.portfolio-header {

    padding: 0;
    margin: 0;
    background-color: #000080;
}

p.portfolio-header {
    padding: 5px 5px 5px 5px;
    color: white;
}

img.header-icon {
    width: 16px;
    padding-right: 5px;
}

.portfolio-content {
    display: flex;
    max-height: 800px;
    overflow-y: auto;
    justify-content: center;
    text-align: center;
}

.portfolio-content-inner {
    justify-content: center;
    width: 100%;
}

.portfolio-test {
    width: 100%;
}


.portfolio-button {
    float: right;
}

img.portfolio-image {
    max-width: 90%;
}



button.portfolio {
    margin-left: auto;
    margin-right: 0;
}