.portfolio-container {
    position: fixed !important;
}

.portfolio {
    background-color: #c0c0c0;
    padding: 0;
    margin: 25px;
    max-width: 50%;
    border: outset;
    box-shadow: 1px 1px;
    position: absolute;
    display: flex;
    flex-direction: column;
    max-height: 75%;
}


.portfolio-header {
    color: white;
    padding: 0;
    margin: 0;
    background-color: #7d7d7d;
    cursor: move;
}

p.portfolio-header {
    padding: 0;
    color: white;
}

p.info-text {
    white-space: pre-wrap;
    background-color: white;
    border-style: inset;
    margin: 5px;
    justify-content: center;
}

img.header-icon {
    width: 16px;
    padding-right: 5px;
}

.portfolio-page-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.portfolio-content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;



}

.portfolio-content-inner {
    justify-content: center;

}

.portfolio-test {
    width: 100%;
}


.portfolio-button {
    float: right;
}

img.portfolio-image {
    margin: 5px;
    max-width: 100%;
}



button.portfolio {
    margin-left: auto;
    margin-right: 0;
}