body {
    background-color: #008080;

}

a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 12px;
}

.container-desktop {
    display: flex;

    padding: 0;
    justify-content: center;
}

.container_icon {
    display: grid;
    grid-template-columns: 100px;
}

.container-modal {
    position: fixed;
    margin: 0 auto;

}

.container-modal-2 {
    position: fixed;
    margin: 25px auto;

}

.desktop-img {
    padding: 0;
    margin: 15px 0 0 0;
    max-width: 45%;
}

.desktop-item {
    margin: 5px;
    text-align: center;
}